.top-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: space-between;
}

.tlh {
  text-align: left;
}

.trh {
  text-align: right;
}

.bottom-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: space-between;
}

.brh {
  text-align: left;
}

.blh {
  text-align: right;
}

.right-inputs {
  margin-top: -435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: space-between;
}

.brv {
margin-top: 353px;
}

.left-inputs {
  margin-top: -435px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: space-between;
}

.blv {
  margin-top: 353px;
}


.title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin-top: -5px;
}


.print-input {
 min-width: 300px;
 height: 15px;
 padding: 12px 15px 15px 15px;
 border: none;
 border-radius: 5px 0px 0px 5px;
 font-weight: bold;
 font-size: 16px;
}

.print-input:focus {
  outline: none;
}

.print-button {
  min-height: 20px;
  padding: 13px 20px 14px 20px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background: linear-gradient(1deg, #0d48f1, #2f3955);
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.print-button:hover {
background: #0d48f1;
}


.print-button:focus {
  outline: none;
}

.box {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, #0d48f1, #2f3955);
}

input[name=top]::-webkit-slider-thumb {
  margin-bottom: -16px;
}

input[name=bottom]::-webkit-slider-thumb {
  margin-top: -32px;
}

input[name=left]::-webkit-slider-thumb {
  margin-right: -11px;
}

input[name=right]::-webkit-slider-thumb {
  margin-right: 2px;
}

/*Input type number*/
input[type=number] {
  background: none;
  border: none;
  color: #0d48f1;
  padding: 5px;
  width: 25%;
  font-size: 24px;
}

/*Arrows on input type number*/
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}

/*Input ranged*/
input[type=range][orient=vertical]{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 100%;
  padding: 0 0px;
}

input[type=range] {
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: black;
  width: 100%;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: black;
}




/*----------------------------------*/

.grid-container {
  min-height: 400px;
  display: grid;
  padding: 0px;
  background-color: #000;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "top-left top-slider top-slider top-right" "left-slider shape shape right-slider" "left-slider shape shape right-slider" "bottom-left bottom-slider bottom-slider bottom-right" ;
}

.shape { grid-area: shape; 
border: 2px dashed #2f3955;
border-radius: 5px;
padding: 12px 12px 15px 12px;
}

.top-slider { grid-area: top-slider; }

.right-slider { grid-area: right-slider; }

.left-slider { grid-area: left-slider; text-align:right;}

.bottom-slider { grid-area: bottom-slider; }

.top-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "top-right\ horizontal ." ". top-right-vertical";
  grid-area: top-right;
}

.top-right-vertical { grid-area: top-right-vertical; }

.top-right-horizontal { grid-area: top-right-horizontal; }

.top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr [top-left] 1fr;
  gap: 1px 1px;
  grid-template-areas: ". top-left-horizontal" "top-left-verticatop-left-vertical .";
  grid-area: top-left;
}

.top-left-verticatop-left-vertical { grid-area: top-left-verticatop-left-vertical; }

.top-left-horizontal { grid-area: top-left-horizontal; }

.bottom-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "bottom-left-vertical ." ". bottom-left-horizontal";
  grid-area: bottom-left;
}

.bottom-left-vertical { grid-area: bottom-left-vertical; }

.bottom-left-horizontal { grid-area: bottom-left-horizontal; }

.bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". bottom-right-vertical" "bottom-right-horizontal .";
  grid-area: bottom-right;
}

.bottom-right-vertical { grid-area: bottom-right-vertical; }

.bottom-right-horizontal { grid-area: bottom-right-horizontal; }

.print { grid-area: print; text-align: center; margin: -20px 0px 30px 0px;}




/*--------------------*/


